.themesColor{color: #25AEB3!important;}
.normalTextColor{color: #666!important;}
.thinTextColor,.basicInfo{color: #aaaaaa !important;}

button{
  font-family: monospace;
}
body{
  padding: 0;margin: 0;color: #666;font-size: 12px;
  font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
}

a{
  color:#25AEB3
}
/*旋转动画*/
@keyframes rotation {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.glyphicon-refresh{
  animation:rotation 2s infinite linear ;
}
.glyphicon-asterisk{
  animation:rotation 1.5s infinite linear ;
}
button:hover .glyphicon.glyphicon-cog{
  animation:rotation 1.5s infinite linear ;
}


pre{
  border-color:#ddd
}

span:hover .glyphicon-cog{animation:rotation 2.5s infinite linear ;}
span:hover .glyphicon-certificate{animation:rotation 2.5s infinite linear ;}
td:hover .glyphicon-time{animation:rotation 2.5s infinite linear ;}

/*icon - font*/
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-biaogeshouqi:before { content: "\e676"; }

.icon-baobiaoshuju:before { content: "\e619"; }

.icon-json:before { content: "\e69b"; }

/* bootstrap 样式调整*/
.btn-theme {
  color: #fff!important;
  background-color: #30babf;
  text-shadow: 0 1px 0 #666;
  background-image: -webkit-linear-gradient(top, #30babf 0, #299ea2 100%);
  background-image: -o-linear-gradient(top, #30babf 0, #299ea2 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#30babf),to(#299ea2));
  background-image: linear-gradient(to bottom, #30babf 0,#299ea2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #24868a;
  &:hover {
    color: #fff;
    text-shadow: 0 1px 0 #666;
    background-color: #30babf;
    background-image: -webkit-linear-gradient(top, #299ea2 0, #30babf 100%);
    background-image: -o-linear-gradient(top, #299ea2 0, #30babf 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#299ea2),to(#30babf));
    background-image: linear-gradient(to bottom, #299ea2 0, #30babf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  }
}
.open>.dropdown-toggle.btn-theme{
  color: #fff;
  text-shadow: 0 1px 0 #666;
  background-color: #30babf;
  background-image: -webkit-linear-gradient(top, #299ea2 0, #30babf 100%);
  background-image: -o-linear-gradient(top, #299ea2 0, #30babf 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#299ea2),to(#30babf));
  background-image: linear-gradient(to bottom, #299ea2 0, #30babf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

/* infoBlock 样式*/
.ifInfoBlock{
  margin-bottom: 20px;
  color: #666;
  border-top: 2px solid #3bc5ca;
  pre{
    margin: 0;
    border-radius: 0;
    border-left: none;
    border-right: none;
    /*border-top: none;*/
    font-size:12px;

  }
  h5,h3,.change-log-box{
    padding: 0 10px;
    overflow: hidden;
  }
  .addItems{
    float: right;
  }
  .operations{
    position: absolute;
    left: 100%;
  }
  .lineNum{
    position: absolute;
    top: 0;
    left: 100%;
    line-height: 28px;
    padding: 0 3px;
    border: 1px solid #dddddd;
    border-radius: 0 5px 5px 0;
    background: #c1c1c1;
    color: #fff;
  }
}
.input-group-addon{font-family: initial}
